<h2>本のタイトル</h2>

<p><%= @book.title %></p>

<h2>感想</h2>

<p><%= @book.body %></p>
<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Destroy", destroy_book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>
<%= link_to "Back", :back %>
